
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: lightslategray;
    color: #333;
    padding: 20px;
}

main { 
    background-color: #fff;
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
header {
    background: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}


section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 2em;
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
}

section p,
section ul,
section ol {
    margin-bottom: 10px;
}


ul {
    list-style: disc;
    padding-left: 20px;
}

ol {
    list-style: decimal;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}


#imagenes div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#imagenes img {
    border: 2px solid #333;
    margin-bottom: 10px;
}

footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
