{% extends "base.html" %}

{% block title %}Memes de Messi{% endblock %}

{% block content %}
   <div>
   <p>Messi no solo es una leyenda del fútbol, sino también una fuente inagotable de memes. Desde su famosa frase <strong>"¿Qué mirás, bobo?"</strong> hasta sus gestos icónicos en el campo, la creatividad en internet no tiene límites.</p>
   
   <h2>Algunos memes famosos</h2>
   <ul>
       <li>"¿Qué mirás, bobo? Anda pa' allá."</li>
       <li>Messi con las gafas y el celular: "Analizando la situación como un crack".</li>
       <li>Los edits de Messi con su séptimo Balón de Oro.</li>
   </ul>

   <h2>Galería de memes</h2>
   <img src="/static/imagenes/quemiras.jpg" alt="Meme de Messi 1" style="width:300px;">
   <img src="/static/imagenes/quemiras.jpg" alt="Meme de Messi 2" style="width:300px;">
   <img src="/static/imagenes/balon.jpg" alt="Meme de Messi 3" style="width:300px;">

   <p>Estos son solo algunos ejemplos aunque el ultimo lo puse aposta sin ser meme. ¿Cuál es tu meme favorito?</p>
   </div>
{% endblock %}

